/* Navbar */
.navbar-brand {
    font-family: "Viga", sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
}

.button-login {
    width: 100px;
    border-radius: 30px;
}

.logo {
    width: 55px;
}

/* Main Content */
.judul {
    margin-top: 60px;
    font-size: 60px;
    font-weight: 900;
}

p {
    font-size: 20px;
}

.poto {
    margin-top: -30px;
    margin-left: 30px;
    width: 900px;
}

.button-join {
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 30px;
    width: 200px;
}

/* Features */
.features {
    box-shadow: 10px 0px 10px 10px rgb(230, 229, 229);
}

.image-features {
    margin-top: 40px;
    width: 200px;
}

/* About Us */
footer {
    box-shadow: 0px -10px 10px 1px rgb(230, 229, 229);
}

.image-about {
    margin: 50px 0px 30px 100px;
    width: 700px;
}

.button-about {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 30px;
    width: 200px;
}

.contact {
    margin-top: 30px;
}

.contact-klik {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.copyright {
    padding-top: 30px;
}
